<!DOCTYPE html>
<html lang="en">

<head>
    <title>Jackcast</title>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/materialize.min.css') }}">
    <link href="{{ url_for('static', filename='css/icon.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/nouislider.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/jackcast.css') }}" rel="stylesheet">

    <script src="{{ url_for('static', filename='scripts/jquery-3.5.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='scripts/nouislider.min.js') }}"></script>
    <script src="{{ url_for('static', filename='scripts/materialize.min.js') }}"></script>
    <script src="{{ url_for('static', filename='scripts/jackcast.js') }}"></script>

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

</head>

<body>
    <div class="navbar-fixed">
        <nav>
            <div class="nav-wrapper">
                <a href="#!" class="brand-logo center">Jackcast</a>
                <ul class="right hide-on-med-and-down">
                </ul>
            </div>
        </nav>
    </div>


    <!--<div class="container">-->
    <div class="content">
        <div class="devices">
            <h6>Connect to a device</h6>
            <div id="devices"></div>
        </div>

        <div>
            <div class="volume-wrap">
                <div class="valign-wrapper">
                    <div class="left" style="height: 100%;">
                        <a class="waves-effect btn-flat" id="volume-btn">
                            <i class="material-icons" id="volume-icon">volume_up</i>
                        </a>
                    </div>

                    <div style="width:100%;">
                        <div id="volume-slider"></div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</body>

</html>
